#fidelity-progress {
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  & > div {
    flex: 1;

    & > span {
      font-size: var(--fs-sm);

      & strong {
        font-weight: var(--fw-bold);
        font-size: var(--fs-md);
      }
    }
  }

  & > .img-container {
    flex: 0.25;

    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(--gray-300);

    & div {
      width: 100%;
      background: url("../assets/pin-gift.svg");
    }
  }
}

.progress-container {
  display: flex;

  gap: 0.75rem;

  #progress {
    flex: 1;

    position: relative;

    align-self: center;

    height: 0.5rem;

    border-radius: 1rem;
    background-color: var(--gray-300);

    overflow: hidden;

    z-index: 1;

    &::after {
      content: "";

      width: 0;
      height: 100%;

      position: absolute;

      background: linear-gradient(
        90deg,
        #2daa6e 0%,
        #2daaaa 33.33%,
        #856ccf 66.67%,
        #d658b3 100%
      );
    }
  }

  label {
    font-size: var(--fs-xs);
  }
}
