*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --pink: #d658b3;
  --green: #45b422;
  --green-shadow: #45b4421f;

  --gray-700: #332b31;
  --gray-600: #4a4448;
  --gray-500: #756c71;
  --gray-400: #d3cfd2;
  --gray-300: #dfdcdf;
  --gray-200: #e9e7e9;
  --gray-100: #f4f1f2;
  --white: #ffffff;

  --gradient: linear-gradient(
    90deg,
    #2daa6e 0%,
    #2daaaa 33.33%,
    #856ccf 66.67%,
    #d658b3 100%
  );

  --ff-sans: "Oxygen", system-ui, sans-serif;

  --fw-base: 400;
  --fw-bold: 800;

  --font-text-sm: var(--fs-xs) / 1.4 var(--fw-base) var(--ff-sans);
  --font-text-sm: var(--fs-sm) / 1.4 var(--fw-base) var(--ff-sans);
  --font-text-base: var(--fs-base) / 1.4 var(--fw-base) var(--ff-sans);

  --font-subtitle-sm: var(--fs-xs) / 1.4 var(--fw-bold) uppercase var(--ff-sans);
  --font-subtitle-base: var(--fs-sm) / 1.4 var(--fw-bold) uppercase
    var(--ff-sans);

  --font-title-base: var(--fs-md) / 1.4 var(--fw-base) var(--fw-bold)
    var(--ff-sans);
  --font-title-md: var(--fs-xl) / 1.4 var(--fw-base) var(--fw-bold)
    var(--ff-sans);

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;

  --pd-base: 1rem;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;

  background-color: var(--gray-200);
}

header,
main,
footer {
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  color: var(--gray-500);
  caret-color: var(--pink);
}

h1 {
  font-family: var(--ff-sans);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--gray-600);
}

h2 {
  font-family: var(--ff-sans);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  color: var(--gray-600);
}

h3 {
  font-family: var(--ff-sans);
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  color: var(--gray-500);
  text-transform: uppercase;
}

h4 {
  font-family: var(--ff-sans);
  font-size: var(--fs-xs);
  font-weight: var(--fw-bold);
  color: var(--gray-500);
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
span,
p,
textarea {
  line-height: 1.4;
}

ul[role="list"] {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: var(--gray-300);
}

/* 1em = 16px */
@media (width >= 48em) {
  body {
    align-items: center;
    justify-content: center;
  }
}

@media (width >= 48em) {
  body {
    align-items: center;
    justify-content: center;
  }
}
